In [1]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

Problem 1 first trial

In [60]:
germ = open('../Accelerated_Intro_WilkinsonExams/Germplasm.tsv','r')

AGI = open('AGI.txt', 'w')

for line1 in germ:
    matchObj1 = re.search(r'AT\wG\w{5}', line1)
    if matchObj1:
        AGI.write(str(matchObj1)

AGI.close()
  
locus = open('../Accelerated_Intro_WilkinsonExams/LocusGene.tsv', 'r')
AGI = open('AGI.txt', 'a') 
                  
for line2 in locus:
    matchObj2 = re.search(r'AT\wG\w{5}', line2)
    if matchObj2:
        AGI.write(str(matchObj2))
germ.close()
locus.close()
AGI.close()
                  
AGI = open('AGI.txt', 'r')
AGI.seek(0)
print(AGI.readlines())

SyntaxError: invalid syntax (<ipython-input-60-95e6c1bdedcb>, line 9)

Problem 1 second trial. It is an UGLY solution, but it is better than nothing.

In [43]:
import re
germ = open('../Accelerated_Intro_WilkinsonExams/Germplasm.tsv','r')
locus = open('../Accelerated_Intro_WilkinsonExams/LocusGene.tsv', 'r')
    
for line in germ.readlines():
    matchObj = re.search(r'AT\wG\w{5}', line)
    if matchObj:
        for line in locus.readlines():
            matchObj = re.search(r'AT\wG\w{5}', line)
            print(matchObj)
    else: 
        print('No match')
    
print('*****')

for line in locus.readlines():
    matchObj = re.search(r'AT\wG\w+', line, re.I)
    if matchObj:
        print(matchObj)
    else: 
        print('No match')
        
germ.close()
locus.close()

No match
<_sre.SRE_Match object; span=(0, 9), match='AT1G01040'>
<_sre.SRE_Match object; span=(0, 9), match='AT1G01060'>
<_sre.SRE_Match object; span=(0, 9), match='AT1G01140'>
<_sre.SRE_Match object; span=(0, 9), match='AT1G01220'>
<_sre.SRE_Match object; span=(0, 9), match='AT1G01280'>
<_sre.SRE_Match object; span=(0, 9), match='AT2G03720'>
<_sre.SRE_Match object; span=(0, 9), match='AT2G03800'>
<_sre.SRE_Match object; span=(0, 9), match='AT2G04240'>
<_sre.SRE_Match object; span=(0, 9), match='AT2G05210'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02130'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02140'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02230'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02260'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02310'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02680'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02850'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02870'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G03260'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G14790'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G15210'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G15560'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G15570'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G15802'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G15880'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G16420'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G16480'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G10480'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G10510'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G11110'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G11260'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G11510'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G12200'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G13290'>
*****
No match
<_sre.SRE_Match object; span=(0, 9), match='AT1G01040'>
<_sre.SRE_Match object; span=(0, 9), match='AT1G01060'>
<_sre.SRE_Match object; span=(0, 9), match='AT1G01140'>
<_sre.SRE_Match object; span=(0, 9), match='AT1G01220'>
<_sre.SRE_Match object; span=(0, 9), match='AT1G01280'>
<_sre.SRE_Match object; span=(0, 9), match='AT2G03720'>
<_sre.SRE_Match object; span=(0, 9), match='AT2G03800'>
<_sre.SRE_Match object; span=(0, 9), match='AT2G04240'>
<_sre.SRE_Match object; span=(0, 9), match='AT2G05210'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02130'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02140'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02230'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02260'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02310'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02680'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02850'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G02870'>
<_sre.SRE_Match object; span=(0, 9), match='AT3G03260'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G14790'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G15210'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G15560'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G15570'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G15802'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G15880'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G16420'>
<_sre.SRE_Match object; span=(0, 9), match='AT4G16480'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G10480'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G10510'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G11110'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G11260'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G11510'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G12200'>
<_sre.SRE_Match object; span=(0, 9), match='AT5G13290'>

In [154]:
#Design and create the database
%sql drop database exam;
%sql create database exam;
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
8 rows affected.

[('information_schema',),
 ('exam',),
 ('friends',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [155]:
%sql use exam

%sql CREATE TABLE germplasm (id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, locus VARCHAR(10) NOT NULL, germplasm VARCHAR(15) NOT NULL, phenotype VARCHAR(500) NOT NULL, pubmed INTEGER NOT NULL)
%sql CREATE TABLE locus (id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, locus VARCHAR(10) NOT NULL, gene VARCHAR(10) NOT NULL, protein_length INTEGER NOT NULL)
%sql desc germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('locus', 'varchar(10)', 'NO', '', None, ''),
 ('germplasm', 'varchar(15)', 'NO', '', None, ''),
 ('phenotype', 'varchar(500)', 'NO', '', None, ''),
 ('pubmed', 'int(11)', 'NO', '', None, '')]

In [159]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='exam',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

germ = open('../Accelerated_Intro_WilkinsonExams/Germplasm.tsv','r')
locus = open('../Accelerated_Intro_WilkinsonExams/LocusGene.tsv', 'r')

try:
    with connection.cursor() as cursor:
        for line in germ.readlines()[1:]:
            locus,germplasm,phenotype,pubmed = line.split('\t','\t')
            #print(locus, germplasm, phenotype, pubmed)
            sql = "INSERT INTO germplasm (locus, germplasm,phenotype, pubmed) VALUES ('%s', '%s', '%s', '%d')" % (locus, germplasm,phenotype, pubmed)
            cursor.execute(sql)
        sql = "SELECT * from germplasm"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        
        for line in locus.readlines()[1:]:
            locus,gene,protein_length = line.split('\t','\t')
            sql = "INSERT INTO locus (locus, gene, protein_length) VALUES ('%s', '%s', '%d')" % (locus, gene, protein_length)
            cursor.execute(sql)
        sql = "SELECT * from locus"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)

finally:
    connection.close()
    
germ.close()
locus.close()

TypeError: 'str' object cannot be interpreted as an integer



    Create a report that shows the full, joined, content of the two database tables (including a header line)

In [153]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='exam',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
report1 = open('reportfile.txt','w')
report1.write("%s\t%s\t%s\t%s\t%s\t%s\t" % (locus, gene, protein_length, germplasm,phenotype, pubmed))
report1.close()

report1 = open('reportfile.txt','a')
try:
    with connection.cursor() as cursor:
        sql = "SELECT * FROM germplasm, locus WHERE germplasm.locus=locus.locus"
        cursor.execute(sql)
        results = cursor.fetchall()
        report1.write(results)
        
finally:
    connection.close() 

report1 = open('reportfile.txt','r')
print(report1.readlines())

ProgrammingError: (1146, "Table 'exam.germplasm' doesn't exist")

I am truly sorry I didn't study for this exam